.Photos-main-box{
    background-color: rgb(60, 60, 60);
    padding: 30px;
}


.photos-bottom{
    overflow-y: scroll;
    gap: 20px;
    justify-content: space-between;
    
    &::-webkit-scrollbar{
        width: 0;
        height: 0;
    }


    img{
        width: 190px;
        height: 190px;
        position: relative;
        border-radius: 20px;
        z-index: 1;
    }

    .img-div{
        padding: 0px;
        p{
            position: relative;
            z-index: 2;
            bottom: 40px;
            left: 70px;
            font-size: 20px;
             
        }

    }
}