main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sports-top{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            color: rgb(199, 191, 191);
        }

    }

    .sports-bottom{
        width: 100%;
        display: flex;
        gap: 20px;
        overflow-x: scroll;
       

        &::-webkit-scrollbar{
            width: 0;
            height: 0;
        }
        .Card{
           min-width: 255px !important;

            span{
                color: rgb(191, 191, 191);
            }
            a{
                color: white;
                text-decoration: none;
            }
            border: none;
            img{
                border-radius: 20px;
            }

            .card-text{
                img{
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                }
            }
        }
    }
}